html, body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #EEF0F4;
  color: #432000;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 15px auto 30px auto;
}

img {
  width: 125px;
  margin: 0 auto 0px auto;
  padding: 0;
}

input {
  color: #432000;
  background-color: #DCE1EB;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin: 10px 0;
}

button {
  color: #FDFDFD;
  background-color: #AC485A;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

button:hover {
  background-color: #432000;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-size: 20px;
  background-color: #FFFDF8;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
  background-color: #FFECC7;
  cursor: pointer;
}

.shopping-list {
  /* display: flex; */
  justify-content: center;
  margin-bottom: 10vh;
}

.cart-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cart-button {
  display: flex;
  padding: .75rem 1rem;
  background-color: #C6CDDB;
  color: #1E1E1E;
  box-shadow: 0px 3px 4px #00000066;
  position: fixed;
  bottom: 6vh;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  min-width: 15rem;
  border: 0.5px solid rgba(58, 56, 56, 0.165);
  align-items: center;
  justify-content: center;
}

.cart-button-text {
  padding: 0.25rem;
}

/* .cart-button-count {
  /* margin-left: auto; */


.cart-button:hover {
  background-color: #A5ABB9;
}



.icon-button {
  fill:#AC485A;
  background-color: transparent;
  height: 1.25rem;
  width: 1.25rem;
  margin: auto 0 auto 0.5rem;
  align-self: center;
}

.icon-button-top-right {
  /* margin-left: auto; */
  padding: 0;
  width: 1.75rem;
  height: 2.5rem;
  background-color: transparent;
  cursor: pointer;
  /* justify-self: center; */
}

.icon-image-top-right {
  margin: 0;
  padding: 0;
  width: 1.75rem;
  height: 1.75rem;
}

.back-button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 2.5rem;
  cursor: pointer;
  align-self: start;
}

.back-button:hover {
  background-color: transparent;
}

.back-arrow {
  margin: 0;
  padding: 0;
  width: 1.75rem;
  height: 1.75rem;
}

.list-of-lists {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.70);
  z-index: 10;
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: #DCE1EB;
  margin: auto auto;
  padding: 1.5rem;
  border-radius: 8px;
  align-self: center;
  justify-self: center;
  min-width: 15rem;
  min-height: 15rem;
  z-index: 100;
  box-shadow: 0px 4px 7px #00000066;
  font-size: larger;
  gap: 0.5rem;
}

.modal-button-one {
  margin-top: auto;
}

.navHeaderFlexContainer {
  display: flex;
  justify-content: space-between;
}

.list-name-and-cat-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* border: 10px solid green; */
  /* padding: 20px; */
  /* background-color: black; */
}

.store-name-button {
  /* height: 38px; */
  background-color: rgb(49, 92, 50);
  color: #DCE1EB;
  /* font-size: 1.5rem; */
  /* align-self: center;
  justify-self: center; */
  /* margin: 0px auto; */
  /* padding: 0.25rem 0.5rem; */
}

p {
  margin-bottom: .33rem;
}